.xiu h1{font-size: 25px;border-bottom: 1px solid #cccccc;}
.xiu span{display: inline-block;color: blue;font-size: 15px;padding: 20px 0;}
.xiu input{width: 300px;border: none;border: 1px solid #cccccc;height: 30px;padding-left: 10px;}