.guan{background-color: white;border: 1px solid #cccccc;height: 500px;padding: 30px;}
.guan p{border-bottom: 1px solid #cccccc;padding-bottom: 10px;}
.guan b{display: block;border-bottom: 1px solid #cccccc;padding-bottom: 10px;margin-bottom: 30px;}